/*@media (min-width: 320px) and (max-width: 650px) {*/
@media (min-width: 0) and (max-width: 650px) {
    /*html, body { font-size: 12px; }*/
    .main .head .menu {
        height: 2rem;
        width: 100%;
    }
    .main .head .menu .row.leftArrow {
        background: transparent url("../img/sprite.png") no-repeat scroll -34px -192px;
        margin-right: 0;
        margin-top: 12px;
        width: 18px;
    }
    .main .head .menu .row ul li a {
        font-size: 1rem;
    }
    .main .head .menu .row.rightArrow {
        background: transparent url("../img/sprite.png") no-repeat scroll 0 -203px;
        height: 11px;
        margin-left: 0;
        margin-top: 12px;
        width: 18px;
    }

    .main .head .menu .row ul li.line {
        margin-left: 0.2vw;
        margin-right: 0.2vw;
        top: -2px;
    }
    .main .head .centerMainBlock {
        margin-top: 1.3rem;
    }
    .main .head .centerMainBlock .title {
         font-size: 1.7rem;
    }
    .main .head .centerMainBlock .titleLine {
        display: none;
    }
    .main .head .centerMainBlock .list {
        display: none;
    }
    .main .head .centerMainBlock .phones {
        display: none;
    }
    .main .head .centerMainBlock .desc {
        display: none;
    }
    .main .news {
        padding-top: 1.6rem;
    }
    .main .news .title {
        font-size: 1.8rem;
    }
    .main .news .inner {
        margin-top: 1.8rem;
    }
    .main .news .inner .item {
        margin-bottom: 2.5rem;
        margin-right: 0;
        width: 100%;
    }
    .main .news .inner .item:nth-child(3) {
        display: none;
    }
    .main .news .inner .item:nth-child(4) {
        display: none;
    }
    .main .service {
        margin-top: 3.8rem;
    }
    .main .service .title {
        font-size: 1.7rem;
    }
    .main .service .slick-list {
        margin: 0 ;
    }
    .main .service .inner .item .left {
        display: none;
    }
    .main .service .inner .item .right {
        margin-left: 0;
        width: 100%;
    }
    .main .service .inner .item .right .name {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    .main .service .inner {
        margin-top: 1.3rem;
        padding-top: 5.2rem;
    }
    .main .service .slick-prev, .main .service .slick-next {
        top: 2.3rem;
    }
    .main .service .slick-prev {
        left: 4.8rem;
    }
    .main .service .slick-next {
        right: 4.8rem;
    }
    .main .service .inner .item .right .link a {
        border: 0.375rem solid #78a60a;
        font-size: 8.8vw;
    }

    .main .service .inner .item .right .link {
        margin-top: 2.35rem;
        padding-bottom: 61px;
    }
    .main .service .inner .item .right {
        font-size: 0.75rem;
    }
    .main .partners {
        margin-top: 0.85rem;
    }
    .main .partners .title {
        font-size: 1.7rem;
    }
    .main .partners .inner .item:nth-child(3) {
        display: none;
    }
    .main .partners .inner .item:nth-child(4) {
        display: none;
    }
    .main .partners .inner {
        margin-top: 1.463rem;
    }
    .main .partners .inner .item {
        height: 16.025rem;
        margin-bottom: 1.1rem;
        margin-right: 0;
        width: 100%;
    }
    .main .information {
        margin-bottom: 0.2rem;
        margin-top: 3.35rem;
    }
    .main .information .title {
        font-size: 1.7rem;
    }
    .main .information .inner .item:last-child {
        display: none;
    }
    .main .information .inner {
        margin-top: 2.2rem;
    }
    .main .information .inner .item {
        display: inline-block;
        font-size: 12px;
        margin-right: 0;
        vertical-align: top;
        width: 100%;
    }
    .main .information .inner .item .more {
        font-size: 0.75rem;
        margin-top: 0.625rem;
    }
    footer .logoBlock {
        float: none;
        margin-top: 14px;
        text-align: center;
    }
    footer .menu {
        float: none;
        margin-left: 4px;
        margin-top: 15px;
        text-align: center;
    }
    footer .menu ul {
        margin-right: 21.8vw;
        text-align: left;
    }
    footer .phonesBlock {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }
    footer .phones .phone {
        margin-bottom: 0;
    }
    footer .email {
        margin-top: 0.825rem;
    }
    footer .send {
        font-size: 1.625rem;
        margin-bottom: 0.7rem;
        margin-left: 4.1rem;
        margin-top: 1.8rem;
    }
    footer .copyrights {
        color: #8a8a8a;
        margin-left: 0;
    }
    footer .phones {
        float: none;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
    }
    footer .email {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    footer .send {
        font-size: 1.625rem;
        margin-bottom: 0.7rem;
        margin-left: 0;
        margin-top: 1.8rem;
        float: none;
        display: block;
    }



}



























